{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-center text-md-left">
        <h1 class="h1-responsive hauptfarbe">{% trans %}Online Anmeldung{% endtrans %}</h1>
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                 aria-valuemax="100">{% trans %}Zusammenfassung{% endtrans %}</div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <h2 class="cover-heading">{% trans %}Zusammenfassung{% endtrans %}</h2>

    {% trans %}
        Bitte überprüfen Sie die untenstehenden Details und senden Sie Ihren Betreuungsvertrag kostenpflichtig ab.
    {% endtrans %}

    <div class="card mb-2 mt-3">

        <div class="card-header">
            <h3 class="cover-heading">{% trans %}Daten des Erziehungsberechtigten{% endtrans %} <a
                        href="{{ path('loerrach_workflow_adresse',{'slug':stadt.slug}) }}"> <i
                            class="fa fa-edit"></i> {% trans %}Bearbeiten{% endtrans %}</a></h3>
        </div>
        <div class="card-body">
            <table class="table table-responsive">
                <tbody>
                <td style="width: 50%">{% trans %}Name des Erziehungsberechtigten{% endtrans %}</td>
                <td>{{ eltern.vorname }} {{ eltern.name }}</td>
                </tr>
                <tr>
                    <td>{% trans %}E-Mail{% endtrans %}</td>
                    <td>{{ eltern.email }}</td>
                </tr>
                <tr>
                    <td>{{ 'Telefonnummer'|trans }}</td>
                    <td>{{ eltern.phoneNumber }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Adresse des Erziehungsberechtigten{% endtrans %}</td>
                    <td>{{ eltern.strasse }}<br>{{ eltern.adresszusatz }}<br>{{ eltern.plz }} {{ eltern.stadt }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Ich bin alleinerziehend{% endtrans %}</td>
                    <td>{{ eltern.alleinerziehend?"Ja"|trans:'Nein'|trans }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Berufliche Situation des Erziehungsberechtigten{% endtrans %}</td>
                    <td>{{ beruflicheSituation[eltern.beruflicheSituation] }}</td>
                </tr>


                {% include 'widget/__elternTabelle_Vollstandig.html.twig' with {'stadt':stadt,'eltern':eltern} %}
                <tr>
                    <td>{% trans %}Kontakt für evtl. Notfälle{% endtrans %}</td>
                    <td>{{ eltern.notfallName }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Telefonnummer für evtl. Notfälle{% endtrans %}</td>
                    <td>{{ eltern.notfallkontakt }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Weitere abholberechtigte Personen{% endtrans %}</td>
                    <td>{{ eltern.abholberechtigter }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Daten der Kinder in einer for Schleife -->
    <div class="card mb-2">
        <div class="card-header mb-2">
            <h3 class="cover-heading">{% trans %}Daten der Kinder{% endtrans %} <a
                        href="{{ path('loerrach_workflow_schulen',{'slug':stadt.slug}) }}"> <i
                            class="fa fa-edit"></i> {% trans %}Bearbeiten{% endtrans %}</a></h3>
        </div>


        <!-- Accordion wrapper -->
        <div class="accordion md-accordion" id="accordionEx2" role="tablist" aria-multiselectable="true">

            {% for k in kind %}

                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo2">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2"
                           href="#collapse{{ loop.index }}"
                           aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                            <h5 class="mb-0">
                                {{ k.vorname }} {{ k.nachname }}

                                {% if k.tageWithBlocks < stadt.minDaysperWeek and not is_granted('ROLE_ORG_CHILD_CHANGE') %}
                                    <span class="badge badge-danger">
                                    {% trans %}Bitte weiteres Betreuungszeitfenster auswählen{% endtrans %} </span>
                                {% elseif k.tageWithBlocks < stadt.minDaysperWeek and is_granted('ROLE_ORG_CHILD_CHANGE') %}
                                    <span class="badge badge-warning">
                                    {% trans with {'{selected}':(k.betreungsblocksRealKontingent|length+k.BetreungsblocksReal|length)} %}ACHTUNG! NUR {selected} Betreuungszeitfenster ausgewählt {% endtrans %} </span>
                                {% else %}

                                    <span>({% trans %}Gebühr pro Monat für gebuchte Betreuung{% endtrans %}: {{ getPreisforBetreuung(k,k.startDate)|number_format(2,',','.') }} €)</span>
                                {% endif %}
                                <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>


                    <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}"
                         data-parent="#accordionEx2">
                        <div class="card-body">

                            <div class="card-body">
                                <h5 class="mb-3">
                                    <a target="_blank"
                                       href={{ path('workflow_datenschutz', {'org_id':k.schule.organisation.id, 'slug':stadt.slug}) }}>
                                        <i class="fa fa-print"></i> {% trans %}Datenschutzhinweis{% endtrans %} {{ k.schule.organisation.name }}
                                    </a>
                                </h5>
                                <table class="table table-responsive">
                                    <tbody>
                                    <tr>
                                        <td style="width: 50%">{% trans %}Vorname{% endtrans %}</td>
                                        <td>{{ k.vorname }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans %}Nachname{% endtrans %}</td>
                                        <td>{{ k.nachname }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans %}Geburtstag{% endtrans %}</td>
                                        <td>{{ k.geburtstag|date('d.m.Y') }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans %}Schule{% endtrans %}</td>
                                        <td>{{ k.schule.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans %}Klasse{% endtrans %}</td>
                                        <td>{{ k.klasseString }}</td>
                                    </tr>
                                    <tr>

                                        <td>{% trans %}Masernimpfung{% endtrans %}</td>
                                        <td>{{ k.masernImpfung?"Ja"|trans:'Nein'|trans }}</td>
                                    </tr>
                                    {% if not stadt.hideChildQuestions %}
                                    <tr>
                                        <td>{% trans %}Allergien{% endtrans %}</td>
                                        <td> {% if k.allergie|length== 0 %}{{ 'Keine Angabe'|trans }}{% else %}{{ k.allergie }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans %}Medikamente{% endtrans %}</td>
                                        <td> {% if k.medikamente|length== 0 %}{{ 'Keine Angabe'|trans }}{% else %}{{ k.medikamente }}{% endif %}</td>

                                    </tr>

                                    <tr>
                                        <td>{% trans %}Mein Kind ist glutenintolerant{% endtrans %}</td>
                                        <td>{{ k.gluten?"Ja"|trans:'Nein'|trans }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans %}Mein Kind ist laktoseintolerant{% endtrans %}</td>
                                        <td>{{ k.laktose?"Ja"|trans:'Nein'|trans }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans %}Mein Kind isst kein Schweinefleisch{% endtrans %}</td>
                                        <td>{{ k.schweinefleisch?"Ja"|trans:'Nein'|trans }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans %}Mein Kind ernährt sich vegetarisch{% endtrans %}</td>
                                        <td>{{ k.vegetarisch?"Ja"|trans:'Nein'|trans }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans %}Mein Kind darf nach Ende der gebuchten Betreuung alleine nach Hause{% endtrans %}</td>
                                        <td>{{ k.alleineHause?"Ja"|trans:'Nein'|trans }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans %}Mein Kind darf an Ausflügen teilnehmen{% endtrans %}</td>
                                        <td>{{ k.ausfluege?"Ja"|trans:'Nein'|trans }}</td>
                                    </tr>
                                        {% if stadt.settingsSkibShowSonnencremeKinder != true %}
                                    <tr>
                                        <td>{% trans %}Mein Kind darf im Sommer mit handelsüblicher Sonnencreme eingecremt werden{% endtrans %}</td>
                                        <td>{{ k.sonnencreme?"Ja"|trans:'Nein'|trans }}</td>
                                    </tr>
                                        {% endif %}
                                        {% if stadt.settingsSkibShowZeckenKinder != true %}
                                    <tr>
                                        <td>{% trans %}Betreuer dürfen bei meinem Kind Zecken entfernen{% endtrans %}</td>
                                        <td>{{ k.zeckenEntfernen?"Ja"|trans:'Nein'|trans }}</td>
                                    </tr>
                                            {% endif %}
                                        {% if stadt.settingsSkibShowPflasterKinder == true %}
                                            <tr>
                                                <td>{% trans %}Betreuer dürfen meinem Kind bei einer Verletzung ein Pflaster aufkleben{% endtrans %}</td>
                                                <td>{{ k.pflaster?"Ja"|trans:'Nein'|trans }}</td>
                                            </tr>
                                        {% endif %}
                                    <tr>
                                        <td>{% trans %}Fotos, auf welchen mein Kind zu sehen ist, dürfen sowohl in der öffentlichen Presse veröffentlicht, als auch für die Öffentlichkeitsarbeit der betreuenden Organisationen genutzt werden.{% endtrans %}</td>
                                        <td>{{ k.fotos?"Ja"|trans:'Nein'|trans }}</td>
                                    </tr>

        {% endif %}
                                    <tr>
                                        <td>{% trans %}Betreuende Organisation{% endtrans %}</td>
                                        <td>{{ k.schule.organisation.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ 'Beginn der Betreuung:'|trans }}
                                        </td>
                                        <td>
                                            {{ k.startDate|date('d.m.Y') }}
                                        </td>
                                    </tr>
                                    {% if k.betreungsblocksReal|length > 0 %}
                                        <tr>
                                            <td>{% trans %}Bemerkung{% endtrans %}</td>
                                            <td> {% if k.bemerkung|length== 0 %}{{ 'Keine Angabe'|trans }}{% else %}{{ k.bemerkung|nl2br }}{% endif %}</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                {% trans %}Gebuchte Betreuungszeitfenster{% endtrans %}
                                            </td>

                                            <td>
                                                <ul class="list-group">
                                                    {% for z in k.BetreungsblocksReal %}
                                                        <li class="list-group-item">{{ z.WochentagString }} {{ z.von|date('H:i') }}
                                                            - {{ z.bis|date('H:i') }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if k.betreungsblocksRealKontingent|length > 0 %}
                                        <tr>
                                            <td>
                                                {% trans %}Angemeldete Betreuungszeitfenster{% endtrans %}
                                            </td>

                                            <td>
                                                <ul class="list-group">
                                                    {% for z in k.betreungsblocksRealKontingent %}
                                                        <li class="list-group-item">{{ z.WochentagString }} {{ z.von|date('H:i') }}
                                                            - {{ z.bis|date('H:i') }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if k.mittagessenblocksReal|length > 0 %}
                                        <tr>
                                            <td>
                                                {% trans %}Gebuchte Mittagessen{% endtrans %}
                                            </td>

                                            <td>
                                                <ul class="list-group">
                                                    {% for z in k.MittagessenblocksReal %}
                                                        <li class="list-group-item">{{ z.WochentagString }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>
                                            <h5>
                                                {% trans %}Gebühren pro Monat{% endtrans %}
                                            </h5>
                                        </td>
                                        <td>
                                            <h5>
                                                {% if is_granted('ROLE_ORG_CHILD_CHANGE') %}
                                                    {{ getPreisforBetreuung(k,k.startDate)|number_format(2,',','.') }} €
                                                {% else %}
                                                    {% if k.tageWithBlocks < stadt.minDaysperWeek %} {% trans %}Bitte weitere Betreuungszeitfenster auswählen{% endtrans %} {% else %}{{ getPreisforBetreuung(k, k.startDate)|number_format(2,',','.') }} €{% endif %}
                                                {% endif %}
                                            </h5>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if stadt.settingsDokumentUploadEnable %}
    <div class="card mb-2">
        <div class="card-header ">
            <h3 class="cover-heading">{{ stadt.settingsDokumentUploadTitle | default('Zusätzliche Dokumente') | trans }}</h3>
        </div>
        <div class="card-body">
            {% if stadt.settingsDokumentTemplates | length > 0 %}
                <h5>{% trans %}Auszufüllende Dokumente{% endtrans %}</h5>
                <ul>
                {% for template in stadt.settingsDokumentTemplates %}
                    <li>
                        <a href="{{ path('login_download_file',{'fileName':template.fileName}) }}">
                            {{ template.originalName }}
                            <i class="fa fa-download"></i>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <div id="wrapper-uploaded-documents">
                {% include 'workflow/loerrach/zusammenfassung/uploaded_documents.html.twig' %}
            </div>
            <form action="{{ path('upload_additional-documents',{'id':eltern.id}) }}"
                  id="dropzone-additional-documents"
                  class="dropzone"
                  data-success-url="{{ path('loerrach_workflow_zusammenfassung_uploaded-documents', {'slug': stadt.slug}) }}">
                <div style="display: none" class="dz-message" data-dz-message>
                    <span>{{ stadt.settingsDokumentUploadText | default('Pflichtangabe für Klasse 2-4: Arbeitgeberbescheinigung') | trans }}</span>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    {% if not stadt.skibSettingsBypassBankdaten %}
        <div class="card mb-2">
            <div class="card-header ">
                <h3 class="cover-heading">{% trans %}Bankverbindung für Lastschrift{% endtrans %} <a
                            href="{{ path('loerrach_workflow_bezahlen', {'slug':stadt.slug}) }}"> <i
                                class="fa fa-edit"></i> {% trans %}Bearbeiten{% endtrans %}</a></h3>
            </div>
            <div class="text-left card-body">
                {% trans %}Kontoinhaber{% endtrans %}: {{ eltern.kontoinhaber }}<br/>
                {% trans %}IBAN{% endtrans %}: {{ eltern.iban }}<br/>
                {% trans %}BIC{% endtrans %}: {{ eltern.bic }}<br/>
                {% if eltern.sepaInfo %}
                    <p class="mt-2">
                        {% set text = 'betreuende Organisation'|trans %}
                        {% trans %}Ich ermächtige{% endtrans %}
                        {% for o in organisation %}
                            {% trans with {'%org%':o.sepaOrganisation?o.sepaOrganisation:text~' '~o.name } %}die %org% {% endtrans %},
                        {% endfor %}
                        {% trans %}Zahlungen von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von{% endtrans %}
                        {% for o in organisation %}
                            {% trans with {'%org%':o.sepaOrganisation?o.sepaOrganisation:text~' '~o.name } %}der %org% {% endtrans %}{% if not loop.last %},{% endif %}
                        {% endfor %}
                        {% trans %}auf mein Konto gezogenen Lastschriften einzulösen{% endtrans %}.
                    </p>
                    <p>
                        {% trans %}Hinweis: Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.{% endtrans %}
                    </p>
                    <p>
                        {% trans %}Information: Die Lastschriften werden zu den Fälligkeitsterminen ausgeführt, die in den Bescheiden, Zahlungsaufforderungen und Vertragsbedingungen ausdrücklich genannt sind. Dort finden Sie auch die genauen Einzugsbeträge.{% endtrans %}
                    </p>
                {% else %}
                    {% trans %}Die Einzugsermächtigung wurde nicht erteilt. Diese muss postalisch erteilt werden. Ein Formular für die Einzugsermächtigung ist der Buchungsbestätigungs-E-Mail angehängt.{% endtrans %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="m-4">
        <h5>{% trans %}Monatliche Gesamtkosten für Ihre Kinder in der Schulkindbetreuung{% endtrans %}:
            {% if error == false %}
                {{ preis|number_format(2,',','.') }} €
            {% else %}
                {% trans %}Bitte weiteres Betreuungszeitfenster auswählen{% endtrans %}
            {% endif %}
        </h5>
    </div>
    <div class="form-check">
        <input id="checkboxStorno" type="checkbox" class="checkboxSelect form-check-input" name="Datenschutz"
               value="Datenschutzhinweis">
        <label class="form-check-label"
               for="checkboxStorno">{% trans %}Ich habe verstanden, dass meine Anmeldung von den betreuenden Organisationen widerrufen werden kann, wenn die Betreuungskapazitäten überschritten sind. Ein Recht auf Aufnahme zur Betreuung besteht nicht.{% endtrans %}</label>
    </div>
    <div class="form-check">
        <input id="checkboxDatenschutz" type="checkbox" class="checkboxSelect form-check-input" name="Datenschutz"
               value="Datenschutzhinweis">
        <label class="form-check-label"
               for="checkboxDatenschutz"> {% trans with{'%s%':stadt.name} %}Ich habe die Datenschutzerklärung der %s%  gelesen und bin damit einverstanden, dass meine Daten und die Daten meiner Kinder elektronisch verarbeitet und an die betreuende Organisation weitergegeben werden.{% endtrans %}</label>
    </div>


    <div class="form-check">
        <input id="checkboxAgb" type="checkbox" class="checkboxSelect form-check-input" name="AGB" value="AGB">
        <label class="form-check-label" for="checkboxAgb"><a target="_blank"
                                                             href={{ path('workflow_agb', {'slug':stadt.slug}) }}> {% trans with {'%stadt%':stadt.name} %}Ich habe die allgemeinen Vertragsbedingungen der %stadt% zur Schulkindbetreuung gelesen und akzeptiere diese.{% endtrans %}</a></label>
    </div>

    {% if error == false %}
        <button class="btn btn-outline-primary sendButton btn-block mt-4"
                disabled>{% if stadt.skibSettingsFinishButtonText is not null %}{{ stadt.skibSettingsFinishButtonText }}{% else %}{% trans %}Zahlungspflichtigen Vertrag abschließen{% endtrans %}{% endif %}</button>
    {% else %}
        <a href="{{ path('loerrach_workflow_schulen',{'slug':stadt.slug}) }}"
           class="btn btn-outline-primary btn-block mt-4">{% trans %}Weitere Betreuungszeitfenster hinzufügen{% endtrans %}</a>
    {% endif %}
{% if stadt.settingsSkibShowPopupOnRegistration %}
    <div class="modal fade" id="popupRegistration" tabindex="-1" role="dialog" aria-labelledby="popupRegistration"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ stadt.translate.settingsSkibPopupRegistrationText|raw }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary"
                            data-dismiss="modal">{{ 'Schließen'|trans }}</button>

                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
    {% block jquery %}
        <script>
            {% if stadt.settingsSkibShowPopupOnRegistration %}
            $('#popupRegistration').modal('show');
            {% endif %}
            var url = "{{ path('loerrach_workflow_abschluss',{'slug':stadt.slug}) }}";
            $('.checkboxSelect').on('change', function () {
                var cbS = $('.checkboxSelect');
                var all = true;
                cbS.each(function (index) {
                    if (!this.checked) {
                        all = false;
                    }
                });
                if (all == true) {
                    $('.sendButton').wrap('<a href="{{ path('loerrach_workflow_abschluss',{'slug':stadt.slug}) }}">');
                    $('.sendButton').prop('disabled', false);
                    $('.sendButton').click(function (e) {
                        $(this).html('<i class="fas fa-spinner fa-spin"></i> ' + $(this).text());
                        $(this).prop('disabled', true);

                        if ($('.sendButton').parent().is("a")) {
                            $('.sendButton').unwrap();
                        }
                    })

                } else {
                    if ($('.sendButton').parent().is("a")) {
                        $('.sendButton').unwrap();
                    }
                    $('.sendButton').prop('disabled', true);
                }
            });
        </script>

    {% endblock %}
