{% extends 'adminBase.html.twig' %}
{% block style %}
    <style>
        .dataTables_wrapper {
            min-height: 150px !important;
        }
    </style>

{% endblock %}
{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid ">
            <div class="row">
                <!-- Count item widget-->
                <div class=" col-12 card" style="border-radius: 10px;">
                    <div class="card-header">
                        <h1> Details: {{ stammdaten.vorname }} {{ stammdaten.name }} </h1>
                    </div>

                    <div class="card-body">
                        <a href="{{ path('ferien_management_orders_storno', {'org_id': org.id, 'parent_id': stammdaten.uid}) }}"
                           target="_blank" class="btn btn-primary">{% trans %}Stornieren{% endtrans %}</a>
                        <a href="mailto: {{ stammdaten.email }}" target="_blank"
                           class="btn btn-primary">{% trans %}Email an Erziehungsberechtigten senden{% endtrans %}</a>

                        <div class="card-body">
                            <h3 class="card-title">{% trans %}Details des Erziehungsberechtigten{% endtrans %}</h3>


                            <div class="row">
                                <div class="col-lg-6">
                                    <dl class="dl-horizontal">
                                        <dt>{% trans %}Name des Erziehungsberechtigten{% endtrans %}</dt>
                                        <dd>{{ stammdaten.vorname }} {{ stammdaten.name }}</dd>
                                        <dt>{% trans %} Adresse des Erziehungsberechtigten{% endtrans %}</dt>
                                        <dd>{{ stammdaten.strasse }}<br>{{ stammdaten.plz }} {{ stammdaten.stadt }}</dd>

                                        <dt>Anmeldedatum</dt>
                                        <dd>{{ stammdaten.createdAt|date ('d.m.Y') }}</dd>
                                    </dl>
                                </div>
                                <div class="col-lg-6">

                                    <dl>
                                        <dt>{% trans %}Name des Notfallkontakt{% endtrans %}</dt>
                                        <dd>{{ stammdaten.notfallName }}</dd>
                                        <dt>{% trans %}Notfallkontakt des Erziehungsberechtigten{% endtrans %}</dt>
                                        <dd>{{ stammdaten.notfallkontakt }}</dd>
                                        <dt>{% trans %}Weitere abholberechtigte Personen{% endtrans %}</dt>
                                        <dd>{{ stammdaten.abholberechtigter }}</dd>

                                        <dt>Email</dt>
                                        <dd>
                                            {{ stammdaten.email }}
                                        </dd>

                                    </dl>
                                </div>
                                {% if stammdaten.paymentFerien is empty %}
                                    <dl class="dl-horizontal col-lg-12">
                                        <dt>Bezahlung</dt>
                                        <dd>
                                            <p class="alert alert-warning">{% trans %}Betrag ist noch offen{% endtrans %}</p>
                                        </dd>
                                    </dl>
                                {% endif %}
                            </div>

                            <h3 class="card-title">{% trans %}Anmeldungen{% endtrans %}</h3>

                            <div id="accordion">
                                {% for k in kinds %}
                                    <div class="card">
                                        <div class="card-header" id="heading{{ loop.index }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse"
                                                        aria-expanded="false"
                                                        data-target="#collapse{{ loop.index }}"
                                                        aria-controls="collapse{{ loop.index }}">
                                                    #{{ loop.index }} {{ k.vorname }} {{ k.nachname }}
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapse{{ loop.index }}" class="collapse"
                                             aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                                            <div class="card-body">

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <dl class="dl-horizontal">
                                                            <dt>{% trans %}Name des Kindes{% endtrans %}</dt>
                                                            <dd>{{ k.vorname }} {{ k.nachname }}</dd>
                                                            <dt>{% trans %} Geburtstag {% endtrans %}</dt>
                                                            <dd>{{ k.geburtstag|date('d.m.Y') }}</dd>
                                                            <dt>{% trans %} Allergien {% endtrans %}</dt>
                                                            <dd>{{ k.allergie }}</dd>
                                                            <dt>{% trans %} Medikamente {% endtrans %}</dt>
                                                            <dd>{{ k.medikamente }}</dd>
                                                            <dt>{% trans %}Mein Kind ist glutenintolerant{% endtrans %}</dt>
                                                            <dd>{{ k.gluten?"Ja"|trans:'Nein'|trans }}</dd>
                                                            <dt>{% trans %}Mein Kind ist laktoseintolerant{% endtrans %}</dt>
                                                            <dd>{{ k.laktose?"Ja"|trans:'Nein'|trans }}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="col-lg-6">

                                                        <dl>
                                                            <dt>{% trans %} Mein Kind isst kein Schweinefleisch {% endtrans %}</dt>
                                                            <dd>{{ k.schweinefleisch?"Ja"|trans:'Nein'|trans }}</dd>
                                                            <dt>{% trans %}Mein Kind ernährt sich vegetarisch{% endtrans %}</dt>
                                                            <dd>{{ k.vegetarisch?"Ja"|trans:'Nein'|trans }}</dd>
                                                            <dt>{% trans %} Mein Kind darf nach Ende der gebuchten Betreuung alleine nach Hause {% endtrans %}</dt>
                                                            <dd>{{ k.alleineHause?"Ja"|trans:'Nein'|trans }}</dd>
                                                            <dt>{% trans %} Mein Kind darf an Ausflügen teilnehmen {% endtrans %}</dt>
                                                            <dd>{{ k.ausfluege?"Ja":'Nein'|trans }}</dd>
                                                            <dt>{% trans %} Mein Kind darf im Sommer mit handelsüblicher Sonnencreme eingecremt werden {% endtrans %}</dt>
                                                            <dd>{{ k.sonnencreme?"Ja"|trans:'Nein'|trans }}</dd>
                                                            <dt>{% trans %} Betreuer dürfen bei meinem Kind Zecken entfernen {% endtrans %}</dt>
                                                            <dd>{{ k.zeckenEntfernen?"Ja"|trans:'Nein'|trans }}</dd>
                                                            <dt>{% trans %}Fotos, auf welchen mein Kind zu sehen ist, dürfen sowohl in der öffentlichen Presse veröffentlicht, als auch für die Öffentlichkeitsarbeit der betreuenden Organisationen genutzt werden.{% endtrans %}</dt>
                                                            <dd>{{ k.fotos?"Ja"|trans:'Nein'|trans }}</dd>
                                                        </dl>
                                                    </div>
                                                </div>

                                                {% for f in k.programmFromOrg(org) %}
                                                    <div class="row mt-3">

                                                        <div class="col-md-8">
                                                            <b>
                                                                {% if f.state == 20 %}
                                                                <del>{% endif %}
                                                                    #{{ loop.index }} {{ f.ferienblock.translate.titel }}
                                                                    {% if f.state == 20 %}</del>{% endif %}
                                                            </b>
                                                        </div>
                                                        <div class="col-md-2">
                                                            {% if f.state != 20 %}
                                                            <a href="{{ path('ferien_ticket', {'org_id':org.id, 'kind_id':k.id, 'ferien_id':f.id}) }}">
                                                                Ticket exportieren
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <b>
                                                                {% if f.state == 20 %}
                                                                <del>{% endif %}      {{ f.preis|number_format ('2',',','.') }}
                                                                    € {% if f.state == 20 %}</del>{% endif %}
                                                            </b>
                                                        </div>
                                                        <div class="col-md-3">
                                                            {% if f.state == 20 %}
                                                            <del>{% endif %} Checkin
                                                                ID {% if f.state == 20 %}</del>{% endif %}
                                                        </div>
                                                        <div class="col-md-9">
                                                            {% if f.state == 20 %}
                                                            <del>{% endif %}  {{ f.checkinID }}    {% if f.state == 20 %}</del>{% endif %}
                                                        </div>
                                                        <div class="col-md-3">
                                                            Checkins
                                                        </div>
                                                        <div class="col-md-9">
                                                            {% for c in f.checkinStatus %}
                                                                {{ c }}<br/>
                                                            {% endfor %}
                                                        </div>

                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            {% set payment = stammdaten.paymentFerienforOrg(org) %}

                            <h3 class="card-title">{% trans %}Ticket ausdrucken{% endtrans %}</h3>


                            <h3 class="card-title">{% trans %}Zahlungen{% endtrans %}</h3>

                            {% if stammdaten.paymentFerien is empty %}
                                <p class="alert alert-warning">{% trans %}Betrag ist noch offen{% endtrans %}</p>
                            {% else %}
                                <div class="table table-responsive">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>
                                                {{ 'Bezahlmethode'|trans }}
                                            </th>
                                            <th>
                                                {{ 'Datum'|trans }}
                                            </th>
                                            <th>
                                                {{ 'Betrag in €'|trans }}
                                            </th>
                                            <th>
                                                {{ 'Status'|trans }}
                                            </th>
                                        </tr>
                                        </thead>
                                        {% if payment.sepa is not null %}
                                            <tr>
                                                <td>
                                                    <b>SEPA</b><br/>
                                                    IBAN: {{ payment.sepa.iban }}<br/>
                                                    BIC: {{ payment.sepa.bic }}
                                                </td>
                                                <td>
                                                    {{ payment.createdAt|date('d.m.y H:i') }}
                                                </td>
                                                <td>
                                                    {{ payment.bezahlt|number_format ('2',',','.') }}€
                                                </td>
                                                <td>
                                                    {{ 'bezahlt'|trans }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if payment.braintree is not null %}
                                            <tr>
                                                <td>
                                                    <b>Braintree</b><br/>
                                                    {{ 'IP Adresse'|trans }}: {{ payment.braintree.ipAdresse }}
                                                </td>
                                                <td>
                                                    {{ payment.createdAt|date('d.m.y H:i') }}
                                                </td>
                                                <td>
                                                    {{ payment.bezahlt|number_format ('2',',','.') }}€
                                                </td>
                                                <td>
                                                    {{ 'bezahlt'|trans }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if payment.PaymentStripe is not null %}
                                            <tr>
                                                <td>
                                                    <b>Stripe</b><br/>
                                                    {{ 'IP Adresse'|trans }}: {{ payment.ipAdresse }}
                                                </td>
                                                <td>
                                                    {{ payment.createdAt|date('d.m.y H:i') }}
                                                </td>
                                                <td>
                                                    {{ payment.bezahlt|number_format ('2',',','.') }}€
                                                </td>
                                                <td>
                                                    {{ 'bezahlt'|trans }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </div>
                            {% endif %}


                            <h3 class="card-title">{% trans %}Rückerstattungen{% endtrans %}</h3>
                            <ul class="list-group">

                                <div class="table table-responsive">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>

                                            </th>
                                            <th>
                                                {{ 'Typ'|trans }}
                                            </th>
                                            <th>
                                                {{ 'Datum'|trans }}
                                            </th>
                                            <th>
                                                {{ 'Betrag in €'|trans }}
                                            </th>
                                            <th>
                                                {{ 'Stornogebühr in €'|trans }}
                                            </th>
                                            <th>
                                                {{ 'Rückzahlungsbetrag in €'|trans }}
                                            </th>
                                            <th>
                                                {{ 'Status'|trans }}
                                            </th>
                                            <th>
                                                {{ 'Fehlermeldung'|trans }}
                                            </th>
                                        </tr>
                                        </thead>
                                        {% if payment is not null %}
                                            {% for r in payment.refunds %}
                                                <tr>
                                                    <td>
                                                        <button class="btn bmd-btn-icon dropdown-toggle" type="button"
                                                                id="ex2" data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                            <i class="material-icons">more_vert</i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-left"
                                                             aria-labelledby="ex2">
                                                            {% if is_granted('ROLE_ORG_FERIEN_STORNO') %}
                                                                <a class="dropdown-item deleteBtn" type="PATCH"
                                                                   href="{{ path('ferien_storno_payPack',{'id':r.id}) }}">{% trans %}Zurückzahlung anstoßen{% endtrans %}</a>
                                                            {% endif %}

                                                        </div>
                                                    </td>

                                                    <td>
                                                        {{ r.typeAsString }}
                                                    </td>
                                                    <td>
                                                        {{ r.createdAt|date('d.m.Y H:i') }}
                                                    </td>
                                                    <td>
                                                        {{ r.summe|number_format ('2',',','.') }}€
                                                    </td>
                                                    <td>
                                                        {{ r.refundFee|number_format ('2',',','.') }}€
                                                    </td>
                                                    <td>
                                                        {{ r.summeGezahlt|number_format ('2',',','.') }}
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <span class="badge {{ r.gezahlt?'badge-primary':'badge-danger' }} "> {{ r.gezahlt?'Ausgezahlt':'Nicht ausgezahlt'|trans }}</span>
                                                        </p>
                                                    </td>
                                                    <td>
                                                        {{ r.gezahlt?'Kein Fehler':r.errorMessage }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </table>
                                </div>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

