{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid ">
            <div class="row">
                <!-- Count item widget-->
                <div class=" col-12 card">
                    <div class="card-header">
                        <h1> {% trans %}Ferienprogramm{% endtrans %} <a
                                    href="{{ path('ferien_management_neu',{'org_id':org.id}) }}">
                                <button href="#" type="button" class="btn  bmd-btn-fab bmd-btn-fab-sm">
                                    <i class="material-icons">add</i>
                                </button>
                            </a></h1>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{% trans %}Titel{% endtrans %}</th>
                                <th>{% trans %}Angemeldet{% endtrans %}</th>
                                <th>{% trans %}Nicht Bestätigt{% endtrans %}</th>
                                <th>{% trans %}Storniert{% endtrans %}</th>
                                <th>{% trans %}Bezahlt{% endtrans %}</th>
                                <th>{% trans %}Min{% endtrans %}</th>
                                <th>{% trans %}Max{% endtrans %}</th>
                                <th>{% trans %}Zeitraum{% endtrans %}</th>
                                <th>{% trans %}Anmeldezeitraum{% endtrans %}</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for b in blocks %}

                                <tr>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex2"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">more_vert</i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex2">
                                                {% if is_granted ('ROLE_ORG_FERIEN_EDITOR') %}
                                                    <a class="dropdown-item"
                                                       href="{{ path('ferien_management_edit',{'ferien_id':b.id,'org_id':b.organisation.id}) }}">{% trans %}Bearbeiten{% endtrans %}</a>
                                                    <a class="dropdown-item"
                                                       href="{{ path('admin_sepa_export_kurs_csv',{'kurs_id':b.id}) }}">{% trans %}SEPA Download{% endtrans %}</a>
                                                {% endif %}
                                                {% if is_granted ('ROLE_ORG_FERIEN_CHECKIN') %}
                                                    <a class="dropdown-item"
                                                       href="{{ path('ferien_management_report_checkinlist',{'ferien_id':b.id,'org_id':b.organisation.id}) }}">{% trans %}Kinderliste{% endtrans %}</a>
                                                    <a class="dropdown-item"
                                                       href="{{ path('ferien_report_nametag',{'ferien_id':b.id,'org_id':b.organisation.id}) }}">{% trans %}Namensschilder{% endtrans %}</a>
                                                {% endif %}
                                                {% if is_granted ('ROLE_ORG_FERIEN_EDITOR') %}
                                                    <a class="dropdown-item"
                                                       href="{{ path('ferien_management_preise',{'ferien_id':b.id,'org_id':b.organisation.id}) }}">{% trans %}Preise Bearbeiten{% endtrans %}</a>
                                                    <a class="dropdown-item"
                                                       href="{{ path('ferien_management_voucher',{'ferien_id':b.id,'org_id':b.organisation.id}) }}">{% trans %}Gutscheine Bearbeiten{% endtrans %}</a>
                                                    <a class="dropdown-item"
                                                       href="{{ path('ferien_management_question',{'ferien_id':b.id,'org_id':b.organisation.id}) }}">{% trans %}Fragen bearbeiten{% endtrans %}</a>
                                                    <a class="dropdown-item loadContent"
                                                       href="{{ path('ferien_management_duplicate',{'ferien_id':b.id,'org_id':b.organisation.id}) }}">{% trans %}Duplizieren{% endtrans %}</a>
                                                    <a class="dropdown-item deleteBtn" type="DELETE"
                                                       href="{{ path('ferien_management_delete',{'ferien_id':b.id,'org_id':b.organisation.id}) }}">{% trans %}Löschen{% endtrans %}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ b.translations.de.titel }}</td>
                                    <td>{{ b.kindFerienblocksGebucht|length }}</td>
                                    <td>{{ b.kindFerienblocksBeworben|length }}</td>
                                    <td>{{ b.kindFerienblocksStorniert|length }}</td>
                                    <td>{{ b.kindFerienblocksBezahlt|length }}</td>
                                    <td>{{ b.minAnzahl }}</td>
                                    <td>{{ b.maxAnzahl }}</td>
                                    <td>{{ b.startDate|date('d.m.Y') }} {{ b.startTime|date('H:i') }}<br>
                                        -{{ b.endDate|date('d.m.Y') }} {{ b.endTime|date('H:i') }}</td>
                                    <td>{{ b.startVerkauf|date('d.m.Y') }}<br>
                                        -{{ b.endVerkauf|date('d.m.Y') }}</td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </section>

{% endblock %}
