{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid ">
            <div class="row">
                <div class=" col-12 card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h1>{{ 'Buchhaltung'|trans }}</h1>
                            </div>
                            <div class="col text-right">
                                <button type="button" data-toggle="modal" data-target="#newSepa" class="btn btn-success">
                                    {{ 'SEPA Lastschrift erstellen'|trans }}
                                </button>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="modal fade" id="newSepa" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="exampleModalLabel">{{ 'SEPA Lastschrift erstellen'|trans }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    {{ form_label(form.von) }}
                                                    {{ form_widget(form.von.day,{'attr':{'class':'d-none ' }}) }}
                                                    {{ form_row(form.von.month) }}
                                                    {{ form_row(form.von.year) }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    {{ form_row(form.einzugsDatum) }}
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="col-lg-12">
                                                    {{ form_row(form.save) }}
                                                </div>
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                                        {#<div class="modal-footer">
                                            <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Schließen'|trans }}</button>
                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>ID</th>
                                            <th>{% trans %}Summe{% endtrans %}</th>
                                            <th>{% trans %}Anzahl{% endtrans %}</th>
                                            <th>{% trans %}Von{% endtrans %}</th>
                                            <th>{% trans %}Bis{% endtrans %}</th>
                                            <th>{% trans %}Einzugsdatum{% endtrans %}</th>
                                            <th>{% trans %}Angelegt{% endtrans %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for s in sepa %}
                                            <tr>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn bmd-btn-icon dropdown-toggle" type="button"
                                                                id="ex2" data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                            <i class="material-icons">more_vert</i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-left"
                                                             aria-labelledby="ex2">
                                                            <a class="dropdown-item"
                                                               href="{{ path('accounting_sepa_detail',{'id':s.id}) }}">Detail</a>
                                                            <a class="dropdown-item"
                                                               href="{{ path('accounting_sepa_printXML',{'id':s.id}) }}">{% trans %}Download SEPA-XML{% endtrans %}</a>
                                                            <a class="dropdown-item"
                                                               href="{{ path('accounting_sepa_printExcel',{'sepa_id':s.id}) }}">{% trans %}Download Excel{% endtrans %}</a>
                                                            <a class="dropdown-item js-com-one-download"
                                                               href="#"
                                                               data-url="{{ path('accounting_sepa_printExcel_monthly',{'sepa_id':s.id}) }}">{% trans %}Download als INFOMA Excel{% endtrans %}</a>
                                                            <a class="dropdown-item deleteBtn" type="GET"
                                                               href="{{ path('accounting_send_bill',{'sepa_id':s.id}) }}">{% trans %}Rechnung an alle Erziehungsberechtigten versenden{% endtrans %}</a>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{ s.id }}</td>
                                                <td>{{ s.summe|number_format(2,',','.') }}</td>
                                                <td>{{ s.anzahl }}</td>
                                                <td>{{ s.von|date('d.m.Y') }}</td>
                                                <td>{{ s.bis|date('d.m.Y') }}</td>
                                                <td>{{ s.einzugsdatum|date('d.m.Y') }}</td>
                                                <td>{{ s.createdAt|date('d.m.Y') }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="comOneExportModal" tabindex="-1" role="dialog" aria-labelledby="comOneExportModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="comOneExportModalLabel">INFOMA Export</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="comOneExportTargetUrl" value="">
                    <div class="form-group">
                        <label for="comOneString1">String 1</label>
                        <input type="text" class="form-control" id="comOneString1" value="Sachkonto Schule">
                    </div>
                    <div class="form-group">
                        <label for="comOneString2">String 2</label>
                        <input type="text" class="form-control" id="comOneString2" value="Kostenstelle Grundschulbetreeung">
                    </div>
                    <div class="form-group mb-0">
                        <label for="comOneString3">String 3</label>
                        <input type="text" class="form-control" id="comOneString3" value="Kostenträger">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Schließen'|trans }}</button>
                    <button type="button" class="btn btn-primary" id="comOneExportStartBtn">Download starten</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jquery %}
<script>
    $(function () {
        $('.js-com-one-download').on('click', function (event) {
            event.preventDefault();
            const targetUrl = $(this).data('url') || '';
            $('#comOneExportTargetUrl').val(targetUrl);
            $('#comOneExportModal').modal('show');
        });

        $('#comOneExportStartBtn').on('click', function () {
            const targetUrl = $('#comOneExportTargetUrl').val();
            if (!targetUrl) {
                return;
            }

            const string1 = $('#comOneString1').val() || '';
            const string2 = $('#comOneString2').val() || '';
            const string3 = $('#comOneString3').val() || '';

            const query = new URLSearchParams({
                string1: string1,
                string2: string2,
                string3: string3
            }).toString();

            $('#comOneExportModal').modal('hide');
            window.location.href = targetUrl + '?' + query;
        });
    });
</script>

{% endblock %}
