{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid">
            <div class="row gutters-5px" id="widgetRow"></div>
            <div class="row">
                <div class="col-lg-6"id="chartRow"></div>
                <div class="col-lg-6" id="orgRow"></div>
            </div>
            {% if todaySickReports is defined and todaySickReports|length > 0 %}
                <div class="card mt-4">
                    <div class="card-header">
                        <h2 class="h4 mb-0">Heute krank gemeldete Kinder</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped mb-0">
                                <thead>
                                <tr>
                                    <th>Kind</th>
                                    <th>Schule</th>
                                    <th>Zeitraum</th>
                                    <th>Bemerkung</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for report in todaySickReports %}
                                    <tr>
                                        <td>{{ report.kind.vorname }} {{ report.kind.nachname }}</td>
                                        <td>{{ report.kind.schule ? report.kind.schule.name : '-' }}</td>
                                        <td>{{ report.von|date('d.m.Y') }} - {{ report.bis|date('d.m.Y') }}</td>
                                        <td>{{ report.bemerkung ?: '-' }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            <section>
                <div id="stundenplanRow"></div>
            </section>
        </div>
    </section>
{% endblock %}

{% block jquery %}
    <!-- Count item widget-->
    <script>
        var URLs = [
            {% if app.user.organisation is not null %}
            '{{ path('widget_kids_today',{'id':app.user.organisation.id}) }}',
            '{{ path('widget_kids_schuljahr',{'id':app.user.organisation.id}) }}',
            '{{ path('widget_kids_today_real',{'id':app.user.organisation.id}) }}',
                {% for s in app.user.organisation.schule  %}
            '{{ path('widget_kids_schule',{'org_id':app.user.organisation.id,'schule_id':s.id}) |raw    }}',
                {% endfor %}
            '{{ path('widget_overdue_sepa',{'org_id':app.user.organisation.id}) }}',
            {% endif %}
            {% if app.user.stadt is not null %}
            {% for s in app.user.stadt.schules  %}
            '{{ path('widget_kids_schule_stadt',{'stadt_id':app.user.stadt.id,'schule_id':s.id}) |raw    }}',
            {% endfor %}
            '{{ path('widget_kids_schuljahr_stadt',{'stadt_id':app.user.stadt.id}) |raw    }}',
            {% endif %}
        ];
        {% if app.user.organisation is not null %}
        $('#stundenplanRow').load('{{ path('widget_kids_stundenplan',{'org_id':app.user.organisation.id}) }}',function () {

        });
        {% endif %}
        {% if app.user.stadt is not null %}
        $('#chartRow').load('{{ path('widget_stadt_over_years',{'stadt_id':app.user.stadt.id}) }}',function () {

        });
        $('#orgRow').load('{{ path('widget_stadt_kids_in_blocks',{'stadt_id':app.user.stadt.id}) }}',function () {

        });
        {% endif %}
        $.each(URLs, function (index, value) {
            $.getJSON(value, function (data) {

           var box = '<div class="col-xl-3 col-md-4 col-6">'
                    + '<div class="card">'
                   +'<div class="card-body">'
                    +'<div class="wrapper count-title d-flex">'
                    +'<div class="icon"><i class="material-icons"> '+data.symbol+'</i></div>'
                +'<div class="name"><strong class="text-uppercase text-break">'+data.title+'</strong><span>'+data.small+'</span>'
                +'<div class="count-number">'+data.anzahl+'</div>'
                 +'</div>'
            +'   </div>'
            +'   </div>'
               +'   </div>'
           +'</div>';

                $("#widgetRow").append(box);
            });
        });
    </script>

{% endblock %}
