{% extends 'email/base.html.twig' %}
{% block header %}
    {% trans %}Buchungsbestätigung für die Schulkindbetreuung{% endtrans %}
{% endblock %}

{% block content %}

    {% if stadt.translate.emailtemplateBuchung %}
        {{ include(template_from_string(stadt.translate.emailtemplateBuchung)) }}
    {% else %}

        <p class="text-center">{{ text }}<br>

            <b>{{ kind.vorname }} </b></p>
        {{ include('email/__securityCode.twig') }}

        <p class="text-center">{% trans %}Im Anhang finden Sie zur Kontrolle Ihre Daten und die Ihrer Kinder als PDF.
                Bitte überprüfen Sie die Daten und melden Sie sich bei Fragen an Ihre betreuende Organisation.
                Die Kontaktdaten sind in dem angehängten PDF angegeben.{% endtrans %}
        </p>
        <p>Ihr Kind ist zu den folgenden Betreuungszeitfenstern auf der Warteliste:</p>{% if kind.warteliste %}
        <ul>{% for warteliste in kind.warteliste %}
                <li>{{ warteliste.wochentagString }}: {{ warteliste.von|date('H:i') }}
                    - {{ warteliste.bis|date('H:i') }} Uhr
                </li>
            {% endfor %}
        </ul>
    {% endif %}
        <p>
        <br>
        {% if stadt.translate.settingsExtraTextEmailAnmeldung %}
            <p>
                {{ stadt.translate.settingsExtraTextEmailAnmeldung|markdown_to_html }}
            </p>
        {% endif %}
        <br>
        <p class="text-center">{% trans %}Mit freundlichen Grüßen Ihre betreuende Organisation{% endtrans %}<br>
            <b>{{ kind.schule.organisation.name }}</b></p>

    {% endif %}

    {% if stadt.settingsSkibEnableParentSickDashboard %}
        <p class="text-center">
            {% trans %}Sie können den aktuellen Bearbeitungsstand Ihrer Anmeldung hier einsehen:{% endtrans %}<br>
            <a href="{{ url('parent_sick_request', {'slug': stadt.slug}) }}">{{ url('parent_sick_request', {'slug': stadt.slug}) }}</a>
        </p>
    {% endif %}
{% endblock %}

